.mantine-24h88l{
    /* top: 0; */
    height: 73%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aliceblue; */
}

.mantine-6ym9d2{
    bottom: 20rem;
    top: 0;
    right: 60rem;
}
